.app {
  text-align: center;
  font-family: "Arial", sans-serif;
  padding: 20px;
}
.app h1 {
  font-size: 32px;
  margin-bottom: 10px;
}
.app p {
  font-size: 18px;
  margin-bottom: 20px;
}
.feedback {
  background-color: #f9f9f9;
  padding: 15px;
  border-radius: 10px;
  width: 250px;
  margin: 0 auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.feedback p {
  font-size: 16px;
  margin: 5px 0;
  color: #333;
}
.options {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-bottom: 20px;
}
.button {
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  transition: background-color 0.3s ease;
}

.button:hover:focus {
  background-color: #0056b3;
}

.resetButton {
  background-color: #dc3545;
}
.resetButton:hover {
  background-color: #b02a37;
}
